
.button{
    width:60px;
    height:60px;
    background-color: #333;
    position: absolute;

}

.carouselProvider{
    position:relative;
}

.button_back{
  z-index: 60;
    top: calc(50% - 80px);
    left: 0;
   
}

.button_next{
   z-index: 60;
    top: calc(50% - 80px);
    right: 0;
   
}